html {
    background: black;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    display: block;
    align-items: center;
    height: 200px;
    border: 3px rgb(15, 255, 80);
    position: absolute;
    left: 15px;
    top: 10px;
    padding: 20px;
}

.write {
    position: absolute;
    display: block;
    left: 627px;
    top: -50px;
}

.frame {
    display: grid;
    place-content: center;
    position: absolute;
    top: 375px;
    left: 700px;
    width: 400px;
    height: 400px;
    z-index: 3;
}

.window {
    display: grid;
    place-content: center;
    position: absolute;
    top: 150px;
    left: 655px;
    z-index: 1;
}

.save {
    position: absolute;
    left: 1770px;
    top: 10px;
    padding: 1px;
    margin-bottom: 10px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    z-index: 3;
}

.upgrade {
    position: absolute;
    display: block;
    top: 300px;
    left: 15px;
    align-items: center;
    padding: 20px;
}

h1 {
    display: none;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    border: 3px outset rgb(15, 255, 80);
    border-radius: 25px;
    padding: 16px 32px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: rgb(15, 255, 80);
    box-shadow: 3px 3px 3px #1DB700;
}

p {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    border: 3px outset rgb(15, 255, 80);
    border-radius: 25px;
    padding: 16px 32px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: rgb(15, 255, 80);
    box-shadow: 3px 3px 3px #1DB700;
}

.buttons {
    position: absolute;
    display: block;
    left: 1450px;
    border:
}

.button1 {
    cursor: pointer;
    display: block;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 5px outset rgb(15, 255, 80);
    border-radius: 25px;
    padding: 32px 64px;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: rgb(15, 255, 80);
    text-align: center;
    font-size: 32px;
    margin: 100px;
    box-shadow: 3px 3px 3px #1DB700;
}

.button2 {
    cursor: pointer;
    display: block;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 3px outset rgb(15, 255, 80);
    border-radius: 25px;
    padding: 16px 32px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: rgb(15, 255, 80);
    font-size: 16px;
    margin: 50px;
    box-shadow: 3px 3px 3px #1DB700;
}

.button3 {
    cursor: pointer;
    display: none;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 3px outset rgb(15, 255, 80);
    border-radius: 25px;
    padding: 16px 32px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: rgb(15, 255, 80);
    font-size: 16px;
    margin: 50px;
    box-shadow: 3px 3px 3px #1DB700;
}

.button4 {
    cursor: pointer;
    display: none;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 3px outset rgb(15, 255, 80);
    border-radius: 25px;
    padding: 16px 32px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: rgb(15, 255, 80);
    font-size: 16px;
    margin: 50px;
    box-shadow: 3px 3px 3px #1DB700;
}

.button5 {
    cursor: pointer;
    display: none;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 3px outset rgb(15, 255, 80);
    border-radius: 25px;
    padding: 16px 32px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: rgb(15, 255, 80);
    font-size: 16px;
    margin: 50px;
    box-shadow: 3px 3px 3px #1DB700;
}

.button6 {
    cursor: pointer;
    display: inline-block;
    font-family: "Lucida Console", "Courier New", monospace;
    border: 1px outset rgb(15, 255, 80);
    border-radius: 25px;
    padding: 2px 2px;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    color: rgb(15, 255, 80);
    font-size: 12px;
    margin: 5px;
    box-shadow: 3px 3px 3px #1DB700;
}

button:hover {
    background-color: transparent;
}

button:active {
    background-color: transparent;
    box-shadow: 1px 1px 3px #1DB700;
    transform: translateY(2px);
}
